body{
    background-color: rgb(165, 250, 222);
}
.header{
    background-color: #297373;
    height: 50px;
    width: 100%;
}
.footer{
    background-color: #297373;
    height: 50px;
    width: 100%;
}
i{
    color: #D4B2D8;
}
.content h1{
    text-align: center;
    color: #138585;
}
.header h1:hover::after {
    content: attr(data-text);
    position: sticky;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}
.content{
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #297373; /* Borde de la tabla */
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #297373;
    border-top: 1px solid #297373; /* Borde superior de las celdas */
}
th {
    background-color: #f2f2f2;
}
h2 {
    text-align: center;
}